:root {
	--main-color: #000;
	--highlight-color: #00F;
}

#outer-container {
	max-width: 800px;
	width: 80vw;
	min-width: 400px;
	height: 200px;
	padding: 0;
}

.inner-container {
	position: absolute;
}

.main-screen {
	max-width: 800px;
	max-height: 600px;
	width: 80vw;
	height: 50vh;
	min-width: 400px;
	min-height: 300px;
	border-radius: 5px;
	background-color:rgb(225, 232, 238);
	padding: 45px;

	/* This allows the inner elements to have absolute positions relative to this element*/
	position: relative;

	transition: all 0.3s ease-in-out;
}

#login-screen {
	z-index: 1;
}

#publish-screen {
	z-index: 0;
}

.social-network-image {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
	transition: all 0.2s ease-in-out;
}

.social-network-image:hover {
	border-color: var(--highlight-color);
}

.social-network-state {
	width: 100px;
	height: 100px;
}

.login-button-container {
	height: 150px;
}

.screen-change-button {
	position: absolute;
	z-index: 2;
}

#right-button {
	right: 10px;
}

#left-button {
	left: 10px;
}

#publish-textarea {
	width: 100%;
	max-height: 200px;
	height: 30vh;
	min-height: 150px;

	resize: none;

	border-radius: 5px;
	border-width: 2px;

	color: #4e4e4e;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
}

#network-checkbox-container {
	padding: 0;
}
